<section class="w-full flex justify-center items-center gap-6 my-8 flex-col md:flex-row md:gap-[100px] md:my-[32px] md:items-start">

    <div class="flex items-center">
        <h1 class="logo-text">
            FLIX<span class="gradient-text font-bold">GO</span>
        </h1>
    </div>

    <div class="flex flex-col gap-6 items-center text-center md:gap-[100px] md:flex-row md:items-start md:text-start">
        @for(footerCol of footerLinks; track footerCol) {
        <ul class="flex flex-col gap-5">
            <span class="text-white">{{ footerCol.sectionName }}</span>
            @for(link of footerCol.links; track link) {
            <li class="text-gray-500 cursor-pointer" [routerLink]="link.route">{{ link.name }}</li>
            }
        </ul>
        }
    </div>

    <div class="flex flex-col gap-5 text-gray-500 items-center text-center md:items-start md:text-start">
        <span class="text-white">Contact</span>
        <span>+1 (800) 234-5678</span>
        <span>support&#64;flixgo.com</span>
    </div>

</section>