.movie-tile {
    border-radius: 8px;

    &.small {
        .movie-poster {
            width: 170px;
        }
    }

    &.medium {
        .movie-poster {
            width: 225px;
        }
    }

    &.large {
        .movie-poster {
            width: 300px;
        }
    }
}

.movie-poster {
    img {
        border-radius: 8px;
        object-fit: cover;

        &:hover {
            cursor: pointer;
        }
    }
}


.movie-tile {
    &.small {
        font-size: 12px;
    }

    &.medium {
        font-size: 16px;
    }

    &.large {
        font-size: 24px;
    }
}