@import '../../../styles.scss';

.recommended-movies {
    width: 1024px;
}

.slider-pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 85, 165, 0.5);
    border-radius: 8px;
}