<section class="recommended-movies flex flex-col gap-12">

    <div class="flex justify-between items-center">
        <h1 class="text-[28px]">
            <span class="font-bold">NEW ITEMS</span>
            OF THIS SEASON
        </h1>
    </div>

    <div class="flex gap-16">
        <app-movie-tile></app-movie-tile>
        <app-movie-tile></app-movie-tile>
        <app-movie-tile></app-movie-tile>
        <app-movie-tile></app-movie-tile>
    </div>

    <div class="w-full flex justify-center mt-12">
        <button mat-flat-button class="gradient-button" routerLink="/catalog">
            MORE MOVIES
        </button>
    </div>

</section>