<section class="recommended-movies flex flex-col gap-12">

    <div class="flex justify-between items-center">
        <h1 class="text-[28px]">
            <span class="font-bold">NEW ITEMS</span>
            OF THIS SEASON
        </h1>

        <div class="flex gap-6">
            <button class="slider-pagination-button">
                <mat-icon fontIcon="arrow_back"></mat-icon>
            </button>
            <button class="slider-pagination-button">
                <mat-icon fontIcon="arrow_forward"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex gap-16">
        <app-movie-tile></app-movie-tile>
        <app-movie-tile></app-movie-tile>
        <app-movie-tile></app-movie-tile>
        <app-movie-tile></app-movie-tile>
    </div>

</section>