<section class="text-white flex justify-between items-center py-5 gap-16 bg-accent-500">
    <!-- LOGO -->
    <app-logo></app-logo>

    <!-- MENU -->
    <ul class="flex gap-12">
        <li routerLink="/a">Home</li>
        <li routerLink="/">Catalog</li>
        <li routerLink="/">Pricing Plan</li>
        <li routerLink="/">Help</li>
    </ul>

    <div class="flex gap-6 items-center">
        <!-- SEARCH BUTTON -->
        <mat-icon fontIcon="search"></mat-icon>

        <!-- REGISTER BUTTON -->
        <button mat-flat-button class="gradient-button" routerLink="/register">SIGN IN</button>
    </div>
</section>