<section class="container text-white flex justify-between items-center p-8 gap-16 bg-accent-500">

    <app-logo></app-logo>

    <ul class="gap-12 hidden sm:d sm:flex">
        <li routerLink="/">Home</li>
        <li routerLink="/catalog">Catalog</li>
        <li routerLink="/">Help</li>
    </ul>

    <mat-menu #menu="matMenu" yPosition="below" class="topbar-menu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/catalog">Catalog</button>
        <button mat-menu-item routerLink="/">Help</button>
    </mat-menu>

    <div class="flex gap-6 justify-center items-center">
        <button 
            mat-icon-button 
            [matMenuTriggerFor]="menu" 
            class="sm:hidden">
            <mat-icon>menu</mat-icon>
        </button>
        @if (!auth.isLoggedIn()) {
            <button mat-flat-button class="gradient-button" routerLink="/login">
                SIGN IN
            </button>
        }
        @if (auth.isLoggedIn()) {
            <button mat-flat-button class="gradient-button" (click)="auth.logout()">
                LOGOUT
            </button>
        }
    </div>

</section>